* {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	font-size: 0.9rem;
	line-height: 1.55;
	background-color: #fff;
	color: #282828;
}

#inner-wrapper {
	margin: auto;
	max-width: 650px;
	min-width: 465px;
	padding-top: 20px;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: #0366d6;
}

header a:hover,
#contact a:hover {
	text-decoration: underline;
}

p,
h2 {
	padding-bottom: 10px;
}

.active {
	background-color: #eee;
}

nav {
	margin-bottom: 30px;
}

nav ul {
	display: flex;
}

nav ul li a:hover {
	background-color: #eee;
}

nav ul li a {
	padding: 10px 10px;
	margin-right: 10px;
	font-size: 15px;
	background-color: #f7f7f7;
}

main {
	padding-top: 10px;
}

section#sl-nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 7px;
	padding-top: 7px;
	border-bottom: 2px solid #e7e7e7;
	border-top: 2px solid #e7e7e7;
}

section#sl-nav li {
	padding: 10px 10px;
	color: #0366d6;
}


section#sl-nav li:hover {
	cursor: pointer;
	background-color: #1a75ff;
	color: #fff !important;
	box-shadow: 1px 5px 3px rgba(0,0,0,0.1);
}

.sl-nav-active {
	background-color: #1a75ff !important;
	color: #fff !important;
}

.gui {
	padding-top: 10px;
}

/* inherited styling for the guis, counter and temp converter
 * inherit the same styling for inputs and buttons */
.gui-block {
	display: inline-block;
	margin-top: 10px;
	border: 1px solid #eee;
	box-shadow: 1px 5px 3px rgba(0,0,0,0.1);
	background-color: #fff;
}

.gui-header {
	display: flex;
	font-size: 12px;
	background-color: #bbb;
}

.gui-container {
	padding: 10px 10px 10px 10px;
}

.buttons {
	width: 80px;
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	font-size: 13px;
	padding: 10px 20px;
	border: none;
	text-align: center;
	cursor: pointer;
	background-color: #e8e8e8;
}

.inputs {
	width: 70px;
	padding: 10px;
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

/* top 'header' styling for the gui 'windows' */
.gui-header p {
	padding: 0;
	padding-left: 10px;
	text-align: center;
	width: 95%;
}

.fa-code {
	padding-right: 3px;
}

/* flight booker */
#fb-inputs-select {
	width: 200px; 
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	font-size: 13px;
}

.inputs-fb {
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	width: 200px;
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

.inputs-fb:focus,
#fb-inputs-select:focus,
.inputs:focus {
	outline: none;
}

#confirm-li {
	padding-top: 10px;
}

#fb-block {
	width: 200px;
	float: left;
}

.fb-block ul li {
	padding-top: 10px;
}

#book-success {
	width: 235px;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.1)
}

#book-success p {
	margin-top: 10px;
	padding: 10px;
}

.fa-times {
	float: right;
	cursor: pointer;
	padding: 5px 5px;
}

/* timer app */
#timer-block {
	width: 360px;
}

progress {
	width: 335px;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: #eee;
}

/* firefox */
progress::-moz-progress-bar {
  background-color: #0366d6;
}

/* chrome */
progress::-webkit-progress-value {
  background-color: #0366d6;
}

progress::-webkit-progress-bar {
  background-color: #eee;
}

#elapsed {
	padding: 0;
} 

#time-range {
	width: 335px;
}

/* CRUD app */
#crud-container {
	width: 390px;
}

#crud-list-name {
	display: flex;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#crud-list-name ul li input {
	margin-left: 20px;
}

.selected {
	background-color: #3385ff;
}

.selected td {
	color: #fff;
}

.crud-inputs {
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	font-size: 0.9rem;
	width: 150px;
	height: 20px;
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

#crud-firstname {
	margin-bottom: 10px;
}

#crud-table {
	display: block;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	border: 1px solid #eee;
	float: left;
}

#crud-table td {
	width: 197px;
}

/* Circle drawer */
#canvas {
	display: flex;
	border: 1px solid #eee;
	width: 360px;
	height: 300px;
	flex: 1 1 0%;
	position: relative;
}

#circle-buttons {
	text-align: center;
	padding-bottom: 10px;
}

/* about.html 'footer' */
#contact ul {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

#contact li {
	padding-right: 5px;
}
