* {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	background-color: #fff;
	font-size: 13px;
	line-height: 20px;
}

#inner-wrapper {
	display: block;
	height: 92vh;
	overflow-y: scroll;
	max-width: 650px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #fff;
}

h2 {
	padding-bottom: 10px;
}

p {
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	color: #0366d6;
}

a:hover {
	text-decoration: underline;
}

nav {
	position: relative;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px 0px;
	padding-left: 40px;
}

nav ul {
	display: flex;
}

nav ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
	font-size: 16px;
}

header p {
	padding-bottom: 10px;
}

main {
	display: flex;
	margin-right: 10px;
	padding-top: 10px;
}

section#col-1 {
	order: 1;
	position: sticky;
	top: 0;
	border-right: 1px solid #eee;
	width: 30%;
	height: 100%;
}

.col-2 {
	padding-left: 15px;
}

.col-2 h3 {
	padding-bottom: 10px;
}

/* inherited styling for the guis, counter and temp converter
 * inherit the same styling for inputs and buttons */
.gui-block {
	display: inline-block;
	margin-top: 10px;
	border: 1px solid #eee;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.1)
}

.gui-header {
	display: flex;
	font-size: 12px;
	background-color: #bbb;
}

.gui-container {
	padding: 20px 10px 10px 10px;
}

.gui-container li {
	padding-bottom: 10px;
}

.buttons {
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	font-size: 13px;
	padding: 10px 20px;
	border: none;
	text-align: center;
	cursor: pointer;
	background-color: #e8e8e8;
}

.inputs {
	width: 70px;
	padding: 10px;
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

/* top 'header' styling for the gui 'windows' */
.gui-header p {
	padding: 0;
	padding-left: 10px;
	text-align: center;
	width: 95%;
}

.fa-code {
	padding-right: 3px;
}

/* flight booker */
#fb-inputs-select {
	width: 200px; 
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	font-size: 13px;
}

.inputs-fb {
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	width: 200px;
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

.inputs-fb:focus,
#fb-inputs-select:focus,
.inputs:focus {
	outline: none;
}

#fb-block {
	width: 250px;
	float: left;
}

.fb-block ul li {
	padding-top: 10px;
}

#book-success {
	width: 270px;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.1)
}

#book-success p {
	padding: 10px;
}

.fa-times {
	float: right;
	cursor: pointer;
	padding: 5px 5px;
}

/* timer app */
#timer-block {
	width: 360px;
}

progress {
	width: 335px;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	background-color: #eee;
}

/* firefox */
progress::-moz-progress-bar {
  background-color: #0366d6;
}

/* chrome */
progress::-webkit-progress-value {
  background-color: #0366d6;
}

progress::-webkit-progress-bar {
  background-color: #eee;
}

#elapsed {
	text-align: center;
	padding: 0;
} 

#time-range {
	width: 335px;
}

/* CRUD app */
#crud-container {
	width: 390px;
}

#crud-list-name {
	display: flex;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#crud-list-name ul li input {
	margin-left: 20px;
}

.selected {
	background-color: #66b3ff;
}

.crud-inputs {
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	font-size: 13px;
	width: 150px;
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

#crud-table {
	display: block;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	border: 1px solid #eee;
	float: left;
}

#crud-table td {
	width: 197px;
}

/* about.html 'footer' */
#contact ul {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

#contact li {
	padding-right: 5px;
}
