* {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	background-color: #fff;
	font-size: 15px;
	line-height: 20px;
}

#inner-wrapper {
	display: block;
	height: 92vh;
	overflow-y: scroll;
	max-width: 650px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #fff;
}

h2 {
	padding-bottom: 10px;
}

p {
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	color: #0366d6;
}

a:hover {
	text-decoration: underline;
}

nav {
	position: relative;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px 0px;
	padding-left: 40px;
}

nav ul {
	display: flex;
}

nav ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 10px;
	font-size: 16px;
}

header p {
	padding-bottom: 10px;
}

main {
	display: flex;
	margin-right: 10px;
	padding-top: 10px;
}

section#col-1 {
	order: 1;
	position: sticky;
	top: 0;
	border-right: 1px solid #eee;
	width: 30%;
	height: 100%;
}

.col-2 {
	padding-left: 15px;
}

.col-2 h3 {
	padding-bottom: 10px;
}

.gui-block {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 10px;
	border: 1px solid #f8f8f8;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.1)
}

#book-success {
	width: 250px;
}

.buttons {
	padding: 10px 20px;
	border: none;
	text-align: center;
	cursor: pointer;
	background-color: #e8e8e8;
}

.fa-times {
	float: right;
	cursor: pointer;
}

.inputs {
	width: 70px;
	padding: 10px;
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

#fb-inputs-select {
	width: 200px; border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

.inputs-fb {
	font-family: 'Ubuntu', sans-serif, calibri, monospace;
	width: 200px;
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

.inputs-fb:focus,
#fb-inputs-select:focus,
.inputs:focus {
	outline: none;
}

.fb-block {
	width: 240px;
	float: left;
	margin-top: 10px;
	padding: 10px 10px;
	border: 1px solid #f8f8f8;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.1)
}

.fb-block ul li {
	padding-top: 10px;
}

.timer-block {
	width: 260px;
	display: inline-block;
	margin-top: 10px;
	padding: 10px 10px;
	border: 1px solid #f8f8f8;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.1)
}

#time-gauge {
	border: 1px solid #f8f8f8;
	background-color: #fafafa;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.1)
}

#crud-block {
	margin-top: 10px;
	padding: 10px 10px;
	border: 1px solid #f8f8f8;
	box-shadow: 0px 5px 3px rgba(0,0,0,0.1)
}

#crud-list-name {
	display: flex;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#crud-list-name ul li input {
	margin-bottom: 10px;
	margin-left: 20px;
}

.selected {
	background-color: #66b3ff;
}

.crud-inputs {
	width: 150px;
	border: 1px solid #eee;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
}

#crud-table {
	display: block;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	border: 1px solid #eee;
	float: left;
}

#crud-table td {
	width: 219px;
}

#contact ul {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

#contact li {
	padding-right: 5px;
}
